a
  padding: 10px
  border-radius: 5px
  text-decoration: none
  color: #369

a:link, a:visited 
  background-color: gray

a:hover 
  font-weight: bold
  background-color: #777

a:active 
    text-decoration: underline

li
  padding: 0
