* 
  box-sizing: border-box

body 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #333

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New' monospace
ul 
  list-style: none 
  text-align: center
  background-color: #555
  padding: 1em
  margin-right: 1em
  margin-left: 1em
  border-radius: 25px

li 
  display: inline-block
  background-color: gray
  padding-top: 0.5em
  padding-bottom: 0.5em
  padding-right: 1em
  padding-left: 1em
  border-radius: 5px
  margin-right: 10px

.label 
  text-align: center
  text-decoration: underline
  color: #557755
  margin-bottom: 2em

.sect 
  background-color: #555555
  margin: 2em
  margin-right: 1em
  margin-left: 1em
  text-align: center
  padding: 0.5em
  padding-bottom: 10em
  border-radius: 25px


.sect-button 
  text-align: center
  padding-top: 0.5em
  padding-bottom: 0.5em
  padding-left: 3em
  padding-right: 3em
  margin-bottom: 2em
  font-size: 2vw
  border-radius: 5px

.sect-button:hover
  background-color: #777

a
  text-decoration: none
  color: #369

a:link, a:visited 
  background-color: gray

a:hover 
  background-color: #777

a:active 
  text-decoration: underline





